/* MARCO FIJO */

.div-top{
    background: #000;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    height: 10px;
}

.div-right{
    background: #000;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
}

.div-bottom{
    background: #000;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;

}

.div-left{
    background: #000;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 10px;
}

/* HEADER PORTFOLIO */

header{
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 1;
    border-width: 10px 10px 0px 10px ;
    border-style: solid;
    border-color: black;
    
    background-color: white;

    font-family: 'Roboto Mono', monospace;
}

nav{
    /* border: 1px solid green;  */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90px; 
    padding-left: 60px;
       

}

nav ul{
    /* border: 1px solid red; */
    width: 660px;
    display: flex; 
    justify-content: space-around;
    padding: 0px;
    
}

ul li{
    /* border: 1px solid brown; */
    list-style: none; 
    font-size: 13px;
    text-decoration: none;

}

li a {
    text-decoration: none;
    color:black;
    }

/* MAIN */

.body-container{
    left: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}



/* TÍTULO */

.title-section{
     /* border: 1px solid brown; */
    font-family: 'Roboto Mono', monospace;   
    text-align: center;
    padding-top: 115px;
    margin:0px;
    font-size: 30px;
}

.title-section2{
    /* border: 1px solid brown; */
    font-family: 'Roboto Mono', monospace;   
    text-align: center;
    padding-top: 30px;
    padding-bottom: 8px;
    margin:0px;
    font-size: 20px; 


}


/* CONTENIDO */

.section-container {
    width: 1200px;
    margin: 10px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.first-row{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.second-row{
    margin-top: 30px;
    border: 1px solid green;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 400px;
    margin: 15px;  
     
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}
      
.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

article {
    padding: 20px;
    flex: 1;        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
  
p {
    flex: 1;
    line-height: 1.4;
}

span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
  
  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }
        
    

.item-1{
    border: 1px solid pink;    
    width: 650px;
}

.item-2{
    border: 1px solid yellow;
    width: 300px;
}


.item-3{
    border: 1px solid purple;
    width: 350px;
}


.item-4{
    border: 1px solid black;
    width: 350px;
}

.item-5{
    border: 1px solid green;
    width: 350px;
}

.item-6{
    border: 1px solid sienna;
    width: 350px;
}

.item-7{
    border: 1px solid pink;
    width: 350px;
    
}


/* FOOTER */

footer{
    margin:0px;
    padding-top: 20px;
    border: 1px solid brown;
    height: 90px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300px;   
    color:black;

}

footer p{
    border: 1px solid green;
    font-size: 10px;
    text-align: center;
}